.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-image: url("src/assets/60241.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  margin: 10px;
  height: 180px;
  display: flex;
  justify-content: center;
}

.mainbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 190vh;
}

.buttons {
  height: 253px;
  margin-top: 20px;
  color: E#2c2626;
  padding: 35px;
  display: flex;
  flex-direction: column;
  background-color: #196a93;
  border: 3px solid #ccc;
  cursor: pointer;
  width: 326px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  transition: background-color 0.5s;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) Opx 50px 109px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.lab {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text {
  padding: 15px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  width: 310px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.list:hover {
  border-radius: 50px;
}

.fund:hover {
  background-color: rgb(10, 206, 10);
  transform: scaleX(1.012);
  transform: scaleX(1.012);
  font-weight: bold;
}

/* Add any additional styling you need for buttons or other elements */
.fund {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f7f3;
  margin: 10px;
  color: black;
  height: 46px;
  border-radius: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.connect {
  width: 200px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #f1f7f3;
  color: black;
  height: 40px;
  border-radius: 20px;
  font-family: cursive;
  font-size: 14px;
}
.name {
  color: #a2c8e2;
  padding: 20px;
  text-align: center;
  font-size: 90px;
  margin-bottom: 120px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 3px solid #a2c8e2;
  border-radius: 10px;
  height: 94px;
  width: 855px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}
.org {
  font-size: 56px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 1450px;
  color: #196a93;
}
.org2 {
  font-size: 46px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 1450px;
}
.connect:hover {
  background-color: #f30c0c;
  transform: scaleX(1.012);
  transform: scaleX(1.012);
  font-weight: bold;
}
.co {
  display: flex;
  justify-content: center;
}
